:root {
    --fs-sm: clamp(0.8rem, 0.17vi + 0.76rem, 0.89rem);
    --fs-bs: clamp(1rem, 0.34vi + 0.91rem, 1.19rem);
    --fs-md: clamp(1.25rem, 0.61vi + 1.1rem, 1.58rem);
    --fs-lg: clamp(1.56rem, 1vi + 1.31rem, 2.11rem);
    --fs-xl: clamp(1.95rem, 1.56vi + 1.56rem, 2.81rem);
    --fs-xxl: clamp(2.44rem, 2.38vi + 1.85rem, 3.75rem);
    --fs-xxxl: clamp(3.05rem, 3.54vi + 2.17rem, 5rem);
    --p-sm: 0.1rem;
    --p-md: 0.2rem;
    --p-lg: 0.4rem;
    --p-xl: 0.8rem;
    --p-xxl: 1.4rem;
    --p-xxxl: 2.6rem;
    --m-sm: 0.1rem;
    --m-md: 0.2rem;
    --m-lg: 0.4rem;
    --m-xl: 0.8rem;
    --m-xxl: 1.4rem;
    --m-xxxl: 2.6rem;
    --br-sm:1px;
    --br-md:2px;
    --br-lg:4px;
    --br-xl:8px;
    --br-xxl:16px;
    --br-xxxl:32px;
    --primary-50: #f4f7fb;
    --primary-100: #e8edf6;
    --primary-200: #ccdaeb;
    --primary-300: #9fbcda;
    --primary-400: #6c99c4;
    --primary-500: #497dae;
    --primary-600: #376392;
    --primary-700: #2e5077;
    --primary-800: #294563;
    --primary-900: #263b54;
    --primary-950: #1a2637;
    --secondary-50: #f2fbfa;
    --secondary-100: #d2f5f0;
    --secondary-200: #a5eae3;
    --secondary-300: #6ad6cf;
    --secondary-400: #43beba;
    --secondary-500: #29a3a0;
    --secondary-600: #1f8182;
    --secondary-700: #1c6869;
    --secondary-800: #1b5354;
    --secondary-900: #1b4546;
    --secondary-950: #0a2629;
    --neutral-50: #f6f7f7;
    --neutral-100: #d1d6d6;
    --neutral-200: #a4b1b1;
    --neutral-300: #7a8e8e;
    --neutral-400: #5e7272;
    --neutral-500: #4c5f5f;
    --neutral-600: #3b4a4a;
    --neutral-700: #2e3b3b;
    --neutral-800: #232d2d;
    --neutral-900: #1a2121;
    --neutral-950: #101818;
    --error-50: #ffeff1;
    --error-100: #ffe0e3;
    --error-200: #ffc5d0;
    --error-300: #ff96a9;
    --error-400: #ff5b7c;
    --error-500: #ff2255;
    --error-600: #ff0041;
    --error-700: #da0037;
    --error-800: #b60037;
    --error-900: #83002e;
    --error-950: #580018;
    --warning-50: #fff1e0;
    --warning-100: #ffe3bb;
    --warning-200: #ffce80;
    --warning-300: #ffb937;
    --warning-400: #ffb000;
    --warning-500: #ffd100;
    --warning-600: #d3b700;
    --warning-700: #9f8a00;
    --warning-800: #7b6800;
    --warning-900: #544700;
    --warning-950: #3b3800;
}